.root {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  padding-left: 0px;
  padding-right: 0px;
  overflow: hidden;
  background: #ffffff;
  min-width: 0;
  min-height: 0;
}
.freeBox__v9RDn {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: url("./images/leafLightGreysvg.svg") top 50% left 0% / 2127px 2109px repeat;
  min-width: 0;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__v9RDn {
    background: url("./images/leafLightGreysvg.svg") top 50% right 50% / 2190px 810px
      repeat;
  }
}
.freeBox__xrmt {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-top: 0px;
  background: none;
  min-width: 0;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__xrmt {
    margin-top: 0px;
    background: url("./images/headerBannerMobilejpg.jpg") top 0% left 50% / contain no-repeat;
  }
}
.img__nWoc6 {
  position: absolute;
  object-fit: cover;
  max-width: 35%;
  left: 0px;
  top: 0px;
  height: 100%;
  width: 100%;
  filter: brightness(65%);
  object-position: left center;
  min-width: 0;
  min-height: 0;
}
.img__nWoc6 > picture > img {
  object-fit: cover;
  object-position: left center;
}
.img__nWoc6 > :global(.__wab_img-spacer) > img {
  object-fit: cover;
  object-position: left center;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__nWoc6 {
    display: none !important;
  }
}
.header3:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 1354px;
  height: 122px;
  flex-shrink: 0;
}
.freeBox__tarcB {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
  width: 100%;
  align-content: unset;
  background: none;
  max-width: 1300px;
  min-width: 0;
  padding: 25px 32px 71px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__tarcB {
    padding-top: 60px;
    padding-bottom: 81px;
    background: none;
  }
}
.link__riDu {
  display: flex;
  flex-direction: row;
  width: auto;
  height: auto;
  max-width: 100%;
  background: none;
  border-radius: 5px;
  padding: 6px 0px;
  margin: 0px;
  border: 2px none var(--token-Re3SCJIk_yyCbi);
}
.link__riDu > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - 15px);
  width: calc(100% + 15px);
}
.link__riDu > :global(.__wab_flex-container) > *,
.link__riDu > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.link__riDu > :global(.__wab_flex-container) > picture > img,
.link__riDu
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 15px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .link__riDu {
    display: flex;
    flex-direction: row;
    width: auto;
    height: auto;
    max-width: 100%;
    background: none;
    margin-left: 0px;
    border-radius: 5px;
    padding: 6px 22px;
    border: 2px none var(--token-Re3SCJIk_yyCbi);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .link__riDu > :global(.__wab_flex-container) {
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin-left: calc(0px - 16px);
    width: calc(100% + 16px);
    margin-top: calc(0px - 0px);
    height: calc(100% + 0px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .link__riDu > :global(.__wab_flex-container) > *,
  .link__riDu > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .link__riDu > :global(.__wab_flex-container) > picture > img,
  .link__riDu
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 16px;
    margin-top: 0px;
  }
}
.svg__mFeZo {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: var(--token-OdlLUu4yengzPE);
  width: 20px;
  height: 20px;
  flex-shrink: 0;
}
.text__u5DV8 {
  width: auto;
  height: auto;
  color: var(--token-Re3SCJIk_yyCbi);
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.2px;
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__u5DV8 {
    font-size: 16px;
    width: auto;
    height: auto;
    color: var(--token-Re3SCJIk_yyCbi);
    font-weight: 400;
    letter-spacing: 0.2px;
    font-family: "Poppins", sans-serif;
  }
}
.foreground2 {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1300px;
  align-self: flex-start;
  padding-top: 15px;
  min-width: 0;
}
.foreground2 > :global(.__wab_flex-container) {
  flex-direction: column;
  min-width: 0;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.foreground2 > :global(.__wab_flex-container) > *,
.foreground2 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.foreground2 > :global(.__wab_flex-container) > picture > img,
.foreground2
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
.columns__xhReB {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  flex-direction: row;
  min-width: 0;
  padding: 0px;
}
.columns__xhReB > :global(.__wab_flex-container) {
  align-items: stretch;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  margin-left: calc(0px - 60px);
  width: calc(100% + 60px);
}
.columns__xhReB > :global(.__wab_flex-container) > :nth-child(2n + 1) {
  width: calc((100% - 2 * 60px) * 6 / 12);
}
.columns__xhReB > :global(.__wab_flex-container) > :nth-child(2n + 2) {
  width: calc((100% - 2 * 60px) * 6 / 12);
}
.columns__xhReB > :global(.__wab_flex-container) > *,
.columns__xhReB > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns__xhReB > :global(.__wab_flex-container) > picture > img,
.columns__xhReB
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 60px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__xhReB {
    width: 100%;
    height: auto;
    flex-direction: row;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__xhReB > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
    margin-top: calc(0px - 40px);
    height: calc(100% + 40px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__xhReB > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * 60px) * 12 / 12);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__xhReB > :global(.__wab_flex-container) > *,
  .columns__xhReB > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .columns__xhReB > :global(.__wab_flex-container) > picture > img,
  .columns__xhReB
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-top: 40px;
  }
}
.column___1Aqo {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.img__isP8A {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  box-shadow: 0px 4px 16px 0px #00000033;
}
.img__isP8A > picture > img {
  object-fit: cover;
}
.img__isP8A > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.column__xLvPg {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.column__xLvPg > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - 20px);
  height: calc(100% + 20px);
}
.column__xLvPg > :global(.__wab_flex-container) > *,
.column__xLvPg > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.column__xLvPg > :global(.__wab_flex-container) > picture > img,
.column__xLvPg
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 20px;
}
.h3 {
  font-size: 42px;
  font-weight: 700;
  line-height: 1;
  color: var(--token-fj_HsBo0aIlxdY);
  text-align: center;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h3 {
    font-size: 35px;
  }
}
.text__mtIdB {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  color: var(--token-fj_HsBo0aIlxdY);
  font-size: 24px;
  min-width: 0;
}
.h5___6Wdh2 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-fj_HsBo0aIlxdY);
  line-height: 34px;
  font-size: 32px;
  min-width: 0;
}
.freeBox__w37Yd {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.text__lYlZl {
  position: relative;
  font-size: 20px;
  width: auto;
  height: auto;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  color: #384647ad;
  text-align: left;
  text-transform: capitalize;
}
.freeBox__z1QE {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px 8px 8px 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__z1QE {
    align-items: center;
    justify-content: center;
    display: flex;
    position: relative;
    flex-direction: row;
    width: 100%;
    height: auto;
    max-width: 100%;
    min-width: 0;
    padding: 0px;
  }
}
.link___7TWpZ {
  display: flex;
  flex-direction: row;
  width: auto;
  height: auto;
  max-width: 100%;
  background: var(--token-OdlLUu4yengzPE);
  border-radius: 8px;
  padding: 12px 32px;
  border: 2px solid var(--token-Re3SCJIk_yyCbi);
}
.link___7TWpZ > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - 20px);
  width: calc(100% + 20px);
}
.link___7TWpZ > :global(.__wab_flex-container) > *,
.link___7TWpZ > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.link___7TWpZ > :global(.__wab_flex-container) > picture > img,
.link___7TWpZ
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 20px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .link___7TWpZ {
    display: flex;
    flex-direction: row;
    width: auto;
    height: auto;
    max-width: 100%;
    background: var(--token-OdlLUu4yengzPE);
    border-radius: 5px;
    padding: 6px 22px;
    border: 2px solid var(--token-Re3SCJIk_yyCbi);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .link___7TWpZ > :global(.__wab_flex-container) {
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin-left: calc(0px - 6px);
    width: calc(100% + 6px);
    margin-top: calc(0px - 0px);
    height: calc(100% + 0px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .link___7TWpZ > :global(.__wab_flex-container) > *,
  .link___7TWpZ > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .link___7TWpZ > :global(.__wab_flex-container) > picture > img,
  .link___7TWpZ
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 6px;
    margin-top: 0px;
  }
}
.svg___3WTrQ {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: var(--token-Re3SCJIk_yyCbi);
  width: 24px;
  height: 25px;
  flex-shrink: 0;
}
.text__gWfoq {
  width: auto;
  height: auto;
  color: var(--token-Re3SCJIk_yyCbi);
  font-size: 24px;
  font-weight: 600;
  letter-spacing: 0.2px;
  font-family: "Poppins", sans-serif;
  padding-bottom: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__gWfoq {
    font-size: 20px;
    width: auto;
    height: auto;
    color: var(--token-Re3SCJIk_yyCbi);
    font-weight: 600;
    letter-spacing: 0.2px;
    font-family: "Poppins", sans-serif;
  }
}
.header {
  max-width: 1140px;
  width: 100%;
  height: auto;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  display: none;
}
.freeBox__blInz {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100vw;
  background: none;
}
.freeBox__blInz > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.freeBox__blInz > :global(.__wab_flex-container) > *,
.freeBox__blInz > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__blInz > :global(.__wab_flex-container) > picture > img,
.freeBox__blInz
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
.freeBox__oe9Di {
  max-width: 1380px;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-self: center;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.header2:global(.__wab_instance) {
  margin-top: 0px;
  width: 100%;
  min-width: 0;
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .header2:global(.__wab_instance) {
    margin-top: 0px;
  }
}
.freeBox__ss4MD {
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: 64px;
  margin-bottom: 64px;
  display: none;
}
.h2__wtX6P {
  position: relative;
}
.columns__qbwSg {
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  min-width: 0;
  display: none;
  padding: 8px 8px 72px;
}
.columns__qbwSg > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
  flex-wrap: wrap;
  min-width: 0;
  margin-left: calc(0px - 50px);
  width: calc(100% + 50px);
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.columns__qbwSg > :global(.__wab_flex-container) > :nth-child(4n + 1) {
  width: calc((100% - 4 * 50px) * 3 / 12);
}
.columns__qbwSg > :global(.__wab_flex-container) > :nth-child(4n + 2) {
  width: calc((100% - 4 * 50px) * 3 / 12);
}
.columns__qbwSg > :global(.__wab_flex-container) > :nth-child(4n + 3) {
  width: calc((100% - 4 * 50px) * 3 / 12);
}
.columns__qbwSg > :global(.__wab_flex-container) > :nth-child(4n + 4) {
  width: calc((100% - 4 * 50px) * 3 / 12);
}
.columns__qbwSg > :global(.__wab_flex-container) > *,
.columns__qbwSg > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns__qbwSg > :global(.__wab_flex-container) > picture > img,
.columns__qbwSg
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 50px;
  margin-top: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__qbwSg {
    flex-direction: row;
    width: 100%;
    height: auto;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__qbwSg > :global(.__wab_flex-container) {
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    min-width: 0;
    margin-top: calc(0px - 32px);
    height: calc(100% + 32px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__qbwSg > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * 50px) * 12 / 12);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__qbwSg > :global(.__wab_flex-container) > *,
  .columns__qbwSg > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .columns__qbwSg > :global(.__wab_flex-container) > picture > img,
  .columns__qbwSg
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-top: 32px;
  }
}
.column__yh4H2 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
}
.productCard__sjNn3:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .productCard__sjNn3:global(.__wab_instance) {
    flex-shrink: 0;
  }
}
.img__se83D {
  position: relative;
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.img__se83D > picture > img {
  object-fit: cover;
}
.img__se83D > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.column__rmXzI {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
}
.productCard__a1NfJ:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.img__ssK9 {
  position: relative;
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.img__ssK9 > picture > img {
  object-fit: cover;
}
.img__ssK9 > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.column__gMt6F {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
}
.productCard__f0Qz:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.img__nha5R {
  position: relative;
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.img__nha5R > picture > img {
  object-fit: cover;
}
.img__nha5R > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.column__icfqf {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
}
.productCard___6IlFh:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.img__kqX1Z {
  position: relative;
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.img__kqX1Z > picture > img {
  object-fit: cover;
}
.img__kqX1Z > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.featureItem:global(.__wab_instance) {
  position: relative;
  margin-top: 16px;
  margin-bottom: 64px;
  display: none;
}
.freeBox__dvEoc {
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: 16px;
  margin-bottom: 64px;
  display: none;
}
.text__g19Vf {
  position: relative;
  color: var(--token-mLUrJZRgL4JFPm);
  font-size: 30px;
  font-weight: 500;
}
.columns__wEaO {
  position: relative;
  flex-direction: row;
  margin-bottom: 64px;
  margin-top: 16px;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  min-width: 0;
  display: none;
  padding: 8px;
}
.columns__wEaO > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  flex-wrap: nowrap;
  min-width: 0;
  margin-left: calc(0px - 36px);
  width: calc(100% + 36px);
}
.columns__wEaO > :global(.__wab_flex-container) > :nth-child(4n + 1) {
  width: calc((100% - 4 * 36px) * 3 / 12);
}
.columns__wEaO > :global(.__wab_flex-container) > :nth-child(4n + 2) {
  width: calc((100% - 4 * 36px) * 3 / 12);
}
.columns__wEaO > :global(.__wab_flex-container) > :nth-child(4n + 3) {
  width: calc((100% - 4 * 36px) * 3 / 12);
}
.columns__wEaO > :global(.__wab_flex-container) > :nth-child(4n + 4) {
  width: calc((100% - 4 * 36px) * 3 / 12);
}
.columns__wEaO > :global(.__wab_flex-container) > *,
.columns__wEaO > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns__wEaO > :global(.__wab_flex-container) > picture > img,
.columns__wEaO
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 36px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__wEaO {
    flex-direction: row;
    width: 100%;
    height: auto;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__wEaO > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 10px);
    height: calc(100% + 10px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__wEaO > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__wEaO > :global(.__wab_flex-container) > *,
  .columns__wEaO > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .columns__wEaO > :global(.__wab_flex-container) > picture > img,
  .columns__wEaO
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 10px;
  }
}
.column__xNlmz {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
}
.productCard__zr6G1:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.text__jnLl8 {
  height: auto;
}
.text___2Tnb0 {
  height: auto;
}
.img__y51V {
  position: relative;
  object-fit: cover;
  width: 100%;
  min-width: 0;
}
.img__y51V > picture > img {
  object-fit: cover;
}
.img__y51V > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.column__klDpj {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
}
.productCard__jOA:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.img__pt366 {
  position: relative;
  object-fit: cover;
  width: 100%;
  min-width: 0;
}
.img__pt366 > picture > img {
  object-fit: cover;
}
.img__pt366 > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.column__hjKZa {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
}
.productCard___1Eruk:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.img___16Tef {
  position: relative;
  object-fit: cover;
  width: 100%;
  min-width: 0;
}
.img___16Tef > picture > img {
  object-fit: cover;
}
.img___16Tef > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.column__kfJsr {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
}
.productCard__zV3WB:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .productCard__zV3WB:global(.__wab_instance) {
    flex-shrink: 0;
  }
}
.img__yMOsP {
  position: relative;
  object-fit: cover;
  width: 100%;
  min-width: 0;
}
.img__yMOsP > picture > img {
  object-fit: cover;
}
.img__yMOsP > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.freeBox__lmqlX {
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  display: none;
}
.text__uiM67 {
  position: relative;
  color: var(--token-mLUrJZRgL4JFPm);
  font-size: 30px;
  font-weight: 500;
}
.columns__rNbIn {
  position: relative;
  flex-direction: row;
  margin-bottom: 64px;
  margin-top: 16px;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  min-width: 0;
  display: none;
  padding: 8px;
}
.columns__rNbIn > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
  flex-wrap: nowrap;
  min-width: 0;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
}
.columns__rNbIn > :global(.__wab_flex-container) > :nth-child(3n + 1) {
  width: calc((100% - 3 * 32px) * 4 / 12);
}
.columns__rNbIn > :global(.__wab_flex-container) > :nth-child(3n + 2) {
  width: calc((100% - 3 * 32px) * 4 / 12);
}
.columns__rNbIn > :global(.__wab_flex-container) > :nth-child(3n + 3) {
  width: calc((100% - 3 * 32px) * 4 / 12);
}
.columns__rNbIn > :global(.__wab_flex-container) > *,
.columns__rNbIn > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns__rNbIn > :global(.__wab_flex-container) > picture > img,
.columns__rNbIn
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__rNbIn {
    flex-direction: row;
    width: 100%;
    height: auto;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__rNbIn > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__rNbIn > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * 32px) * 12 / 12);
  }
}
.column__p9Ckg {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
}
.blogPost__ywyI5:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.img__upc2F {
  position: relative;
  object-fit: cover;
  width: 100%;
  min-width: 0;
}
.img__upc2F > picture > img {
  object-fit: cover;
}
.img__upc2F > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.column__wd9A {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
}
.blogPost__nunnP:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.img___69XfP {
  position: relative;
  object-fit: cover;
  width: 100%;
  min-width: 0;
}
.img___69XfP > picture > img {
  object-fit: cover;
}
.img___69XfP > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.column__p1XVe {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
}
.blogPost__qeNxJ:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.img___6Ga3X {
  position: relative;
  object-fit: cover;
  width: 100%;
  min-width: 0;
}
.img___6Ga3X > picture > img {
  object-fit: cover;
}
.img___6Ga3X > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.freeBox__dpKr {
  position: relative;
  flex-direction: row;
  width: 100vw;
  height: auto;
  overflow: auto;
  background: var(--token-QLA4byZUbPv4xo);
  display: none;
  padding: 48px;
}
.freeBox__dpKr > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
  flex-wrap: wrap;
  margin-left: calc(0px - 64px);
  width: calc(100% + 64px);
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.freeBox__dpKr > :global(.__wab_flex-container) > *,
.freeBox__dpKr > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__dpKr > :global(.__wab_flex-container) > picture > img,
.freeBox__dpKr
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 64px;
  margin-top: 32px;
}
.img__g5M7D {
  position: relative;
  object-fit: cover;
  width: 90px;
  height: 60px;
  flex-shrink: 0;
}
.img__g5M7D > picture > img {
  object-fit: cover;
}
.img__g5M7D > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.img__pqfrU {
  position: relative;
  object-fit: cover;
  width: 91px;
  height: 60px;
  flex-shrink: 0;
}
.img__pqfrU > picture > img {
  object-fit: cover;
}
.img__pqfrU > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.img__f0Nde {
  position: relative;
  object-fit: cover;
  width: 98px;
  height: 60px;
  flex-shrink: 0;
}
.img__f0Nde > picture > img {
  object-fit: cover;
}
.img__f0Nde > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.img__dgVMz {
  position: relative;
  object-fit: cover;
  width: 124px;
  height: 60px;
  flex-shrink: 0;
}
.img__dgVMz > picture > img {
  object-fit: cover;
}
.img__dgVMz > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.img__juMqk {
  position: relative;
  object-fit: cover;
  width: 125px;
  height: 60px;
  flex-shrink: 0;
}
.img__juMqk > picture > img {
  object-fit: cover;
}
.img__juMqk > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.footer__a8YCe:global(.__wab_instance) {
  position: relative;
  display: none;
}
.bigPlants {
  max-width: 1300px;
  width: 100%;
  height: auto;
  flex-direction: column;
  padding-bottom: 80px;
  min-width: 0;
  display: none;
  margin: 0px;
}
.bigPlants > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.bigPlants > :global(.__wab_flex-container) > *,
.bigPlants > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.bigPlants > :global(.__wab_flex-container) > picture > img,
.bigPlants
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.freeBox___9TaPg {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox___9TaPg > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox___9TaPg > :global(.__wab_flex-container) > *,
.freeBox___9TaPg > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___9TaPg > :global(.__wab_flex-container) > picture > img,
.freeBox___9TaPg
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
.h2__nW6A {
  position: relative;
  width: auto;
  height: auto;
  color: var(--token-RwG4modd2sJAe-);
}
.columns__unwa {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  flex-direction: row;
  min-width: 0;
  padding: 8px;
}
.columns__unwa > :global(.__wab_flex-container) {
  align-items: stretch;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  margin-left: calc(0px - 15px);
  width: calc(100% + 15px);
}
.columns__unwa > :global(.__wab_flex-container) > :nth-child(3n + 1) {
  width: calc((100% - 3 * 15px) * 4 / 12);
}
.columns__unwa > :global(.__wab_flex-container) > :nth-child(3n + 2) {
  width: calc((100% - 3 * 15px) * 4 / 12);
}
.columns__unwa > :global(.__wab_flex-container) > :nth-child(3n + 3) {
  width: calc((100% - 3 * 15px) * 4 / 12);
}
.columns__unwa > :global(.__wab_flex-container) > *,
.columns__unwa > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns__unwa > :global(.__wab_flex-container) > picture > img,
.columns__unwa
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 15px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__unwa {
    width: 100%;
    height: auto;
    flex-direction: row;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__unwa > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__unwa > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * 15px) * 12 / 12);
  }
}
.column__l4Ba2 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.column__l4Ba2 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.column__l4Ba2 > :global(.__wab_flex-container) > *,
.column__l4Ba2 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.column__l4Ba2 > :global(.__wab_flex-container) > picture > img,
.column__l4Ba2
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.img__tHeJ {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  box-shadow: 0px 5px 16px 0px #00000054;
  width: 100%;
  height: var(--token-FrVxrO3xIVC8IA);
  min-width: 0;
  flex-shrink: 0;
  border-radius: 24px;
}
.img__tHeJ > picture > img {
  object-fit: cover;
}
.img__tHeJ > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.freeBox__cDmW6 {
  display: flex;
  position: absolute;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 55px;
  height: 55px;
  max-width: 100%;
  left: auto;
  top: 51%;
  right: 5%;
  background: var(--token-Re3SCJIk_yyCbi);
  flex-shrink: 0;
  border-radius: 8px;
  padding: 8px;
}
.svg__sDIf9 {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-OdlLUu4yengzPE);
  width: 30px;
  height: 30px;
  flex-shrink: 0;
}
.freeBox__am4NL {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.link__l1Frq {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-fj_HsBo0aIlxdY);
  font-size: 24px;
  min-width: 0;
}
.text__domv {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  color: var(--token-fj_HsBo0aIlxdY);
  min-width: 0;
}
.h5__uAl6N {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-fj_HsBo0aIlxdY);
  line-height: 34px;
  min-width: 0;
}
.column__tjVev {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.column__tjVev > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.column__tjVev > :global(.__wab_flex-container) > *,
.column__tjVev > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.column__tjVev > :global(.__wab_flex-container) > picture > img,
.column__tjVev
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.img__ndAu8 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  box-shadow: 0px 5px 16px 0px #00000054;
  width: 100%;
  height: var(--token-FrVxrO3xIVC8IA);
  min-width: 0;
  flex-shrink: 0;
  border-radius: 24px;
}
.img__ndAu8 > picture > img {
  object-fit: cover;
}
.img__ndAu8 > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.freeBox__nkIqo {
  display: flex;
  position: absolute;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 55px;
  height: 55px;
  max-width: 100%;
  left: auto;
  top: 51%;
  right: 5%;
  background: var(--token-Re3SCJIk_yyCbi);
  flex-shrink: 0;
  border-radius: 8px;
  padding: 8px;
}
.svg__qvWyl {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-OdlLUu4yengzPE);
  width: 30px;
  height: 30px;
  flex-shrink: 0;
}
.freeBox__aZlmY {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.link__zHeXw {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-fj_HsBo0aIlxdY);
  font-size: 24px;
  min-width: 0;
}
.text__tOmJs {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  color: var(--token-fj_HsBo0aIlxdY);
  min-width: 0;
}
.h5__b2Soj {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-fj_HsBo0aIlxdY);
  line-height: 34px;
  min-width: 0;
}
.column__p7M5S {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.column__p7M5S > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.column__p7M5S > :global(.__wab_flex-container) > *,
.column__p7M5S > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.column__p7M5S > :global(.__wab_flex-container) > picture > img,
.column__p7M5S
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.img__mRLh6 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  box-shadow: 0px 5px 16px 0px #00000054;
  width: 100%;
  height: var(--token-FrVxrO3xIVC8IA);
  min-width: 0;
  flex-shrink: 0;
  border-radius: 24px;
}
.img__mRLh6 > picture > img {
  object-fit: cover;
}
.img__mRLh6 > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.freeBox__eu1U2 {
  display: flex;
  position: absolute;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 55px;
  height: 55px;
  max-width: 100%;
  left: auto;
  top: 51%;
  right: 5%;
  background: var(--token-Re3SCJIk_yyCbi);
  flex-shrink: 0;
  border-radius: 8px;
  padding: 8px;
}
.svg__wlfIp {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-OdlLUu4yengzPE);
  width: 30px;
  height: 30px;
  flex-shrink: 0;
}
.freeBox__zpBr8 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.link__m6Vf {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-fj_HsBo0aIlxdY);
  font-size: 24px;
  min-width: 0;
}
.text__v0Qsc {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  color: var(--token-fj_HsBo0aIlxdY);
  min-width: 0;
}
.h5__wuGDj {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-fj_HsBo0aIlxdY);
  line-height: 34px;
  min-width: 0;
}
.img__gjEs {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  box-shadow: 0px 5px 16px 0px #00000054;
  width: 100%;
  height: var(--token-FrVxrO3xIVC8IA);
  min-width: 0;
  flex-shrink: 0;
  border-radius: 24px;
}
.img__gjEs > picture > img {
  object-fit: cover;
}
.img__gjEs > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.freeBox__ayMhF {
  display: flex;
  position: absolute;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 55px;
  height: 55px;
  max-width: 100%;
  left: auto;
  top: 51%;
  right: 5%;
  background: var(--token-Re3SCJIk_yyCbi);
  flex-shrink: 0;
  border-radius: 8px;
  padding: 8px;
}
.svg__cb6FI {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-OdlLUu4yengzPE);
  width: 30px;
  height: 30px;
  flex-shrink: 0;
}
.freeBox__bn0K0 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.link__p0PpH {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-fj_HsBo0aIlxdY);
  font-size: 24px;
  min-width: 0;
}
.text__nwSJf {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  color: var(--token-fj_HsBo0aIlxdY);
  min-width: 0;
}
.h5__dW7Bg {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-fj_HsBo0aIlxdY);
  line-height: 34px;
  min-width: 0;
}
.cactuses {
  max-width: 1300px;
  width: 100%;
  height: auto;
  flex-direction: column;
  padding-bottom: 80px;
  min-width: 0;
  display: none;
  margin: 0px;
}
.cactuses > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.cactuses > :global(.__wab_flex-container) > *,
.cactuses > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.cactuses > :global(.__wab_flex-container) > picture > img,
.cactuses
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.freeBox___5YnmX {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox___5YnmX > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox___5YnmX > :global(.__wab_flex-container) > *,
.freeBox___5YnmX > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___5YnmX > :global(.__wab_flex-container) > picture > img,
.freeBox___5YnmX
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
.h2___4YN1M {
  position: relative;
  width: auto;
  height: auto;
  color: var(--token-RwG4modd2sJAe-);
}
.columns__dFl8P {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  flex-direction: row;
  min-width: 0;
  padding: 8px;
}
.columns__dFl8P > :global(.__wab_flex-container) {
  align-items: stretch;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  margin-left: calc(0px - 15px);
  width: calc(100% + 15px);
}
.columns__dFl8P > :global(.__wab_flex-container) > :nth-child(4n + 1) {
  width: calc((100% - 4 * 15px) * 3 / 12);
}
.columns__dFl8P > :global(.__wab_flex-container) > :nth-child(4n + 2) {
  width: calc((100% - 4 * 15px) * 3 / 12);
}
.columns__dFl8P > :global(.__wab_flex-container) > :nth-child(4n + 3) {
  width: calc((100% - 4 * 15px) * 3 / 12);
}
.columns__dFl8P > :global(.__wab_flex-container) > :nth-child(4n + 4) {
  width: calc((100% - 4 * 15px) * 3 / 12);
}
.columns__dFl8P > :global(.__wab_flex-container) > *,
.columns__dFl8P > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns__dFl8P > :global(.__wab_flex-container) > picture > img,
.columns__dFl8P
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 15px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__dFl8P {
    width: 100%;
    height: auto;
    flex-direction: row;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__dFl8P > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__dFl8P > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * 15px) * 12 / 12);
  }
}
.column__cw695 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.column__cw695 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.column__cw695 > :global(.__wab_flex-container) > *,
.column__cw695 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.column__cw695 > :global(.__wab_flex-container) > picture > img,
.column__cw695
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.img__ubTnN {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  box-shadow: 0px 5px 16px 0px #00000054;
  width: 100%;
  height: var(--token-FrVxrO3xIVC8IA);
  min-width: 0;
  flex-shrink: 0;
  border-radius: 24px;
}
.img__ubTnN > picture > img {
  object-fit: cover;
}
.img__ubTnN > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.freeBox__rqre {
  display: flex;
  position: absolute;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 55px;
  height: 55px;
  max-width: 100%;
  left: auto;
  top: 51%;
  right: 5%;
  background: var(--token-Re3SCJIk_yyCbi);
  flex-shrink: 0;
  border-radius: 8px;
  padding: 8px;
}
.svg__mts31 {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-OdlLUu4yengzPE);
  width: 30px;
  height: 30px;
  flex-shrink: 0;
}
.freeBox__t1GWc {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.link__yznBb {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-fj_HsBo0aIlxdY);
  font-size: 24px;
  min-width: 0;
}
.text__vhEiB {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  color: var(--token-fj_HsBo0aIlxdY);
  min-width: 0;
}
.h5__oRm6L {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-fj_HsBo0aIlxdY);
  line-height: 34px;
  min-width: 0;
}
.column__dDtgk {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.column__dDtgk > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.column__dDtgk > :global(.__wab_flex-container) > *,
.column__dDtgk > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.column__dDtgk > :global(.__wab_flex-container) > picture > img,
.column__dDtgk
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.img__p3YsY {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  box-shadow: 0px 5px 16px 0px #00000054;
  width: 100%;
  height: var(--token-FrVxrO3xIVC8IA);
  min-width: 0;
  flex-shrink: 0;
  border-radius: 24px;
}
.img__p3YsY > picture > img {
  object-fit: cover;
}
.img__p3YsY > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.freeBox__reldm {
  display: flex;
  position: absolute;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 55px;
  height: 55px;
  max-width: 100%;
  left: auto;
  top: 51%;
  right: 5%;
  background: var(--token-Re3SCJIk_yyCbi);
  flex-shrink: 0;
  border-radius: 8px;
  padding: 8px;
}
.svg___6ZKly {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-OdlLUu4yengzPE);
  width: 30px;
  height: 30px;
  flex-shrink: 0;
}
.freeBox__n5Aer {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.link__u9YiP {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-fj_HsBo0aIlxdY);
  font-size: 24px;
  min-width: 0;
}
.text__zwAGa {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  color: var(--token-fj_HsBo0aIlxdY);
  min-width: 0;
}
.h5___1Smn4 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-fj_HsBo0aIlxdY);
  line-height: 34px;
  min-width: 0;
}
.column__kdELx {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.column__kdELx > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.column__kdELx > :global(.__wab_flex-container) > *,
.column__kdELx > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.column__kdELx > :global(.__wab_flex-container) > picture > img,
.column__kdELx
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.img__tBdsC {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  box-shadow: 0px 5px 16px 0px #00000054;
  width: 100%;
  height: var(--token-FrVxrO3xIVC8IA);
  min-width: 0;
  flex-shrink: 0;
  border-radius: 24px;
}
.img__tBdsC > picture > img {
  object-fit: cover;
}
.img__tBdsC > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.freeBox__xPvz2 {
  display: flex;
  position: absolute;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 55px;
  height: 55px;
  max-width: 100%;
  left: auto;
  top: 51%;
  right: 5%;
  background: var(--token-Re3SCJIk_yyCbi);
  flex-shrink: 0;
  border-radius: 8px;
  padding: 8px;
}
.svg__f2Ls3 {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-OdlLUu4yengzPE);
  width: 30px;
  height: 30px;
  flex-shrink: 0;
}
.freeBox__tSpMu {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.link__f5Zl {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-fj_HsBo0aIlxdY);
  font-size: 24px;
  padding-bottom: 0px;
  min-width: 0;
}
.text__w5N4 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  color: var(--token-fj_HsBo0aIlxdY);
  min-width: 0;
}
.h5__mLIu {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-fj_HsBo0aIlxdY);
  line-height: 34px;
  min-width: 0;
}
.column__ySZdk {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.column__ySZdk > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.column__ySZdk > :global(.__wab_flex-container) > *,
.column__ySZdk > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.column__ySZdk > :global(.__wab_flex-container) > picture > img,
.column__ySZdk
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.img__qh9Vy {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  box-shadow: 0px 5px 16px 0px #00000054;
  width: 100%;
  height: var(--token-FrVxrO3xIVC8IA);
  min-width: 0;
  flex-shrink: 0;
  border-radius: 24px;
}
.img__qh9Vy > picture > img {
  object-fit: cover;
}
.img__qh9Vy > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.freeBox__xdz2Y {
  display: flex;
  position: absolute;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 55px;
  height: 55px;
  max-width: 100%;
  left: auto;
  top: 51%;
  right: 5%;
  background: var(--token-Re3SCJIk_yyCbi);
  flex-shrink: 0;
  border-radius: 8px;
  padding: 8px;
}
.svg___9GFzO {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-OdlLUu4yengzPE);
  width: 30px;
  height: 30px;
  flex-shrink: 0;
}
.freeBox__wLtFd {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.link__aCArM {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-fj_HsBo0aIlxdY);
  font-size: 24px;
  min-width: 0;
}
.text__i52Gf {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  color: var(--token-fj_HsBo0aIlxdY);
  min-width: 0;
}
.h5__r5Yz4 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-fj_HsBo0aIlxdY);
  line-height: 34px;
  min-width: 0;
}
.footer__qcOjA:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
