.root {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  padding-left: 0px;
  padding-right: 0px;
  overflow: hidden;
  background: #ffffff;
  min-width: 0;
  min-height: 0;
}
.freeBox__qZMcT {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: url("./images/leafLightGreysvg.svg") top 50% left 0% / 2127px 2109px repeat;
  margin-bottom: 0px;
  min-width: 0;
  padding: 0px;
}
.freeBox___71Szg {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-top: 0px;
  background: none;
  margin-bottom: 94px;
  min-width: 0;
  padding: 0px;
}
.img__joINe {
  position: absolute;
  object-fit: cover;
  max-width: 35%;
  left: 0px;
  top: 0px;
  height: 100%;
  width: 100%;
  filter: brightness(65%);
  object-position: left center;
  min-width: 0;
  min-height: 0;
}
.img__joINe > picture > img {
  object-fit: cover;
  object-position: left center;
}
.img__joINe > :global(.__wab_img-spacer) > img {
  object-fit: cover;
  object-position: left center;
}
.header3:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 1354px;
  height: 146px;
  flex-shrink: 0;
}
.freeBox___1Gf7Y {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
  width: 100%;
  align-content: unset;
  background: none;
  max-width: 1300px;
  min-width: 0;
  padding: 25px 32px 178px;
}
.link__wfSxe {
  display: flex;
  flex-direction: row;
  width: auto;
  height: auto;
  max-width: 100%;
  background: none;
  border-radius: 5px;
  padding: 6px 0px;
  margin: 0px;
  border: 2px none var(--token-Re3SCJIk_yyCbi);
}
.link__wfSxe > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - 15px);
  width: calc(100% + 15px);
}
.link__wfSxe > :global(.__wab_flex-container) > *,
.link__wfSxe > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.link__wfSxe > :global(.__wab_flex-container) > picture > img,
.link__wfSxe
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 15px;
}
.link__wfSxe {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  background: none;
  border-radius: 5px;
  padding: 6px 0px;
  margin: 0px;
  border: 2px none var(--token-Re3SCJIk_yyCbi);
}
.svg__v58Y0 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: var(--token-OdlLUu4yengzPE);
  width: 20px;
  height: 20px;
  flex-shrink: 0;
}
.text__xxKoz {
  width: auto;
  height: auto;
  color: var(--token-Re3SCJIk_yyCbi);
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.2px;
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
}
.foreground2 {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1300px;
  align-self: flex-start;
  padding-top: 15px;
  min-width: 0;
}
.foreground2 > :global(.__wab_flex-container) {
  flex-direction: column;
  min-width: 0;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.foreground2 > :global(.__wab_flex-container) > *,
.foreground2 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.foreground2 > :global(.__wab_flex-container) > picture > img,
.foreground2
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
.foreground2 {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1300px;
  align-self: flex-start;
  padding-top: 15px;
  min-width: 0;
}
.columns {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  flex-direction: row;
  min-width: 0;
  padding: 0px;
}
.columns > :global(.__wab_flex-container) {
  align-items: stretch;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  margin-left: calc(0px - 60px);
  width: calc(100% + 60px);
}
.columns > :global(.__wab_flex-container) > *,
.columns > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns > :global(.__wab_flex-container) > picture > img,
.columns
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 60px;
}
.columns {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  padding: 0px;
}
.columns > :global(.__wab_flex-container) > :nth-child(2n + 1) {
  width: calc((100% - 2 * 60px) * 6 / 12);
}
.columns > :global(.__wab_flex-container) > :nth-child(2n + 2) {
  width: calc((100% - 2 * 60px) * 6 / 12);
}
.column__vC1Sn {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.img__lrbs6 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  box-shadow: 0px 4px 16px 0px #00000033;
}
.img__lrbs6 > picture > img {
  object-fit: cover;
}
.img__lrbs6 > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.column__u13TU {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.column__u13TU > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - 20px);
  height: calc(100% + 20px);
}
.column__u13TU > :global(.__wab_flex-container) > *,
.column__u13TU > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.column__u13TU > :global(.__wab_flex-container) > picture > img,
.column__u13TU
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 20px;
}
.column__u13TU {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: flex-start;
  min-width: 0;
  padding: 8px;
}
.h3 {
  font-size: 42px;
  font-weight: 700;
  line-height: 1;
  color: var(--token-fj_HsBo0aIlxdY);
  text-align: center;
}
.text__qEa8W {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  color: var(--token-fj_HsBo0aIlxdY);
  font-size: 24px;
  min-width: 0;
}
.h5 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-fj_HsBo0aIlxdY);
  line-height: 34px;
  font-size: 32px;
  min-width: 0;
}
.freeBox__mjZQg {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.text__knAwQ {
  position: relative;
  font-size: 20px;
  width: auto;
  height: auto;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  color: #384647ad;
  text-align: left;
  text-transform: capitalize;
}
.freeBox__oAnWp {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px 8px 8px 0px;
}
.link__oyTp5 {
  display: flex;
  flex-direction: row;
  width: auto;
  height: auto;
  max-width: 100%;
  background: var(--token-OdlLUu4yengzPE);
  border-radius: 8px;
  padding: 12px 32px;
  border: 2px solid var(--token-Re3SCJIk_yyCbi);
}
.link__oyTp5 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - 20px);
  width: calc(100% + 20px);
}
.link__oyTp5 > :global(.__wab_flex-container) > *,
.link__oyTp5 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.link__oyTp5 > :global(.__wab_flex-container) > picture > img,
.link__oyTp5
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 20px;
}
.link__oyTp5 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  background: var(--token-OdlLUu4yengzPE);
  border-radius: 8px;
  padding: 12px 32px;
  border: 2px solid var(--token-Re3SCJIk_yyCbi);
}
.svg__u8H3G {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: var(--token-Re3SCJIk_yyCbi);
  width: 24px;
  height: 25px;
  flex-shrink: 0;
}
.text__yTyXw {
  width: auto;
  height: auto;
  color: var(--token-Re3SCJIk_yyCbi);
  font-size: 24px;
  font-weight: 600;
  letter-spacing: 0.2px;
  font-family: "Poppins", sans-serif;
  padding-bottom: 0px;
}
.footer:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  height: 183px;
  flex-shrink: 0;
}
