.root {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  padding-left: 0px;
  padding-right: 0px;
  overflow: hidden;
  background: #ffffff;
  min-width: 0;
  min-height: 0;
}
.freeBox__qZMcT {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: url("./images/leafLightGreysvg.svg") top 50% left 0% / 2127px 2109px repeat;
  min-width: 0;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__qZMcT {
    background: url("./images/leafLightGreysvg.svg") top 50% right 50% / 2190px 810px
      repeat;
  }
}
.freeBox___71Szg {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-top: 0px;
  background: none;
  min-width: 0;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___71Szg {
    margin-top: 0px;
    background: url("./images/headerBannerMobilejpg.jpg") top 0% left 50% / contain no-repeat;
  }
}
.img__joINe {
  position: absolute;
  object-fit: cover;
  max-width: 35%;
  left: 0px;
  top: 0px;
  height: 100%;
  width: 100%;
  filter: brightness(65%);
  object-position: left center;
  min-width: 0;
  min-height: 0;
}
.img__joINe > picture > img {
  object-fit: cover;
  object-position: left center;
}
.img__joINe > :global(.__wab_img-spacer) > img {
  object-fit: cover;
  object-position: left center;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__joINe {
    display: none !important;
  }
}
.header3:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 1354px;
  height: 146px;
  flex-shrink: 0;
}
.freeBox___1Gf7Y {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
  width: 100%;
  align-content: unset;
  background: none;
  max-width: 1300px;
  min-width: 0;
  padding: 25px 32px 71px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___1Gf7Y {
    padding-top: 60px;
    padding-bottom: 81px;
    background: none;
  }
}
.link__wfSxe {
  display: flex;
  flex-direction: row;
  width: auto;
  height: auto;
  max-width: 100%;
  background: none;
  border-radius: 5px;
  padding: 6px 0px;
  margin: 0px;
  border: 2px none var(--token-Re3SCJIk_yyCbi);
}
.link__wfSxe > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - 15px);
  width: calc(100% + 15px);
}
.link__wfSxe > :global(.__wab_flex-container) > *,
.link__wfSxe > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.link__wfSxe > :global(.__wab_flex-container) > picture > img,
.link__wfSxe
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 15px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .link__wfSxe {
    display: flex;
    flex-direction: row;
    width: auto;
    height: auto;
    max-width: 100%;
    background: none;
    margin-left: 0px;
    border-radius: 5px;
    padding: 6px 22px;
    border: 2px none var(--token-Re3SCJIk_yyCbi);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .link__wfSxe > :global(.__wab_flex-container) {
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin-left: calc(0px - 16px);
    width: calc(100% + 16px);
    margin-top: calc(0px - 0px);
    height: calc(100% + 0px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .link__wfSxe > :global(.__wab_flex-container) > *,
  .link__wfSxe > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .link__wfSxe > :global(.__wab_flex-container) > picture > img,
  .link__wfSxe
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 16px;
    margin-top: 0px;
  }
}
.svg__v58Y0 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: var(--token-OdlLUu4yengzPE);
  width: 20px;
  height: 20px;
  flex-shrink: 0;
}
.text__xxKoz {
  width: auto;
  height: auto;
  color: var(--token-Re3SCJIk_yyCbi);
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.2px;
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__xxKoz {
    font-size: 16px;
    width: auto;
    height: auto;
    color: var(--token-Re3SCJIk_yyCbi);
    font-weight: 400;
    letter-spacing: 0.2px;
    font-family: "Poppins", sans-serif;
  }
}
.foreground2 {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1300px;
  align-self: flex-start;
  padding-top: 15px;
  min-width: 0;
}
.foreground2 > :global(.__wab_flex-container) {
  flex-direction: column;
  min-width: 0;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.foreground2 > :global(.__wab_flex-container) > *,
.foreground2 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.foreground2 > :global(.__wab_flex-container) > picture > img,
.foreground2
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
.columns__dkKlD {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  flex-direction: row;
  min-width: 0;
  padding: 0px;
}
.columns__dkKlD > :global(.__wab_flex-container) {
  align-items: stretch;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  margin-left: calc(0px - 60px);
  width: calc(100% + 60px);
}
.columns__dkKlD > :global(.__wab_flex-container) > :nth-child(2n + 1) {
  width: calc((100% - 2 * 60px) * 6 / 12);
}
.columns__dkKlD > :global(.__wab_flex-container) > :nth-child(2n + 2) {
  width: calc((100% - 2 * 60px) * 6 / 12);
}
.columns__dkKlD > :global(.__wab_flex-container) > *,
.columns__dkKlD > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns__dkKlD > :global(.__wab_flex-container) > picture > img,
.columns__dkKlD
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 60px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__dkKlD {
    width: 100%;
    height: auto;
    flex-direction: row;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__dkKlD > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
    margin-top: calc(0px - 40px);
    height: calc(100% + 40px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__dkKlD > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * 60px) * 12 / 12);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__dkKlD > :global(.__wab_flex-container) > *,
  .columns__dkKlD > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .columns__dkKlD > :global(.__wab_flex-container) > picture > img,
  .columns__dkKlD
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-top: 40px;
  }
}
.column__vC1Sn {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.img__lrbs6 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  box-shadow: 0px 4px 16px 0px #00000033;
}
.img__lrbs6 > picture > img {
  object-fit: cover;
}
.img__lrbs6 > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.column__u13TU {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.column__u13TU > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - 20px);
  height: calc(100% + 20px);
}
.column__u13TU > :global(.__wab_flex-container) > *,
.column__u13TU > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.column__u13TU > :global(.__wab_flex-container) > picture > img,
.column__u13TU
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 20px;
}
.h3 {
  font-size: 42px;
  font-weight: 700;
  line-height: 1;
  color: var(--token-fj_HsBo0aIlxdY);
  text-align: center;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h3 {
    font-size: 35px;
  }
}
.text__qEa8W {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  color: var(--token-fj_HsBo0aIlxdY);
  font-size: 24px;
  min-width: 0;
}
.h5__iyMqw {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-fj_HsBo0aIlxdY);
  line-height: 34px;
  font-size: 32px;
  min-width: 0;
}
.freeBox__mjZQg {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.text__knAwQ {
  position: relative;
  font-size: 20px;
  width: auto;
  height: auto;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  color: #384647ad;
  text-align: left;
  text-transform: capitalize;
}
.freeBox__oAnWp {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px 8px 8px 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__oAnWp {
    align-items: center;
    justify-content: center;
    display: flex;
    position: relative;
    flex-direction: row;
    width: 100%;
    height: auto;
    max-width: 100%;
    min-width: 0;
    padding: 0px;
  }
}
.link__oyTp5 {
  display: flex;
  flex-direction: row;
  width: auto;
  height: auto;
  max-width: 100%;
  background: var(--token-OdlLUu4yengzPE);
  border-radius: 8px;
  padding: 12px 32px;
  border: 2px solid var(--token-Re3SCJIk_yyCbi);
}
.link__oyTp5 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - 20px);
  width: calc(100% + 20px);
}
.link__oyTp5 > :global(.__wab_flex-container) > *,
.link__oyTp5 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.link__oyTp5 > :global(.__wab_flex-container) > picture > img,
.link__oyTp5
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 20px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .link__oyTp5 {
    display: flex;
    flex-direction: row;
    width: auto;
    height: auto;
    max-width: 100%;
    background: var(--token-OdlLUu4yengzPE);
    border-radius: 5px;
    padding: 6px 22px;
    border: 2px solid var(--token-Re3SCJIk_yyCbi);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .link__oyTp5 > :global(.__wab_flex-container) {
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin-left: calc(0px - 6px);
    width: calc(100% + 6px);
    margin-top: calc(0px - 0px);
    height: calc(100% + 0px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .link__oyTp5 > :global(.__wab_flex-container) > *,
  .link__oyTp5 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .link__oyTp5 > :global(.__wab_flex-container) > picture > img,
  .link__oyTp5
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 6px;
    margin-top: 0px;
  }
}
.svg__u8H3G {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: var(--token-Re3SCJIk_yyCbi);
  width: 24px;
  height: 25px;
  flex-shrink: 0;
}
.text__yTyXw {
  width: auto;
  height: auto;
  color: var(--token-Re3SCJIk_yyCbi);
  font-size: 24px;
  font-weight: 600;
  letter-spacing: 0.2px;
  font-family: "Poppins", sans-serif;
  padding-bottom: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__yTyXw {
    font-size: 20px;
    width: auto;
    height: auto;
    color: var(--token-Re3SCJIk_yyCbi);
    font-weight: 600;
    letter-spacing: 0.2px;
    font-family: "Poppins", sans-serif;
  }
}
.header {
  max-width: 1140px;
  width: 100%;
  height: auto;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  display: none;
}
.freeBox__bypz7 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100vw;
  background: none;
}
.freeBox__bypz7 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.freeBox__bypz7 > :global(.__wab_flex-container) > *,
.freeBox__bypz7 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__bypz7 > :global(.__wab_flex-container) > picture > img,
.freeBox__bypz7
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
.freeBox__md07Z {
  max-width: 1380px;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-self: center;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.header2:global(.__wab_instance) {
  margin-top: 0px;
  width: 100%;
  min-width: 0;
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .header2:global(.__wab_instance) {
    margin-top: 0px;
  }
}
.freeBox__crk61 {
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: 64px;
  margin-bottom: 64px;
  display: none;
}
.h2__armxq {
  position: relative;
}
.columns__dSvR {
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  min-width: 0;
  display: none;
  padding: 8px 8px 72px;
}
.columns__dSvR > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
  flex-wrap: wrap;
  min-width: 0;
  margin-left: calc(0px - 50px);
  width: calc(100% + 50px);
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.columns__dSvR > :global(.__wab_flex-container) > :nth-child(4n + 1) {
  width: calc((100% - 4 * 50px) * 3 / 12);
}
.columns__dSvR > :global(.__wab_flex-container) > :nth-child(4n + 2) {
  width: calc((100% - 4 * 50px) * 3 / 12);
}
.columns__dSvR > :global(.__wab_flex-container) > :nth-child(4n + 3) {
  width: calc((100% - 4 * 50px) * 3 / 12);
}
.columns__dSvR > :global(.__wab_flex-container) > :nth-child(4n + 4) {
  width: calc((100% - 4 * 50px) * 3 / 12);
}
.columns__dSvR > :global(.__wab_flex-container) > *,
.columns__dSvR > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns__dSvR > :global(.__wab_flex-container) > picture > img,
.columns__dSvR
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 50px;
  margin-top: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__dSvR {
    flex-direction: row;
    width: 100%;
    height: auto;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__dSvR > :global(.__wab_flex-container) {
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    min-width: 0;
    margin-top: calc(0px - 32px);
    height: calc(100% + 32px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__dSvR > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * 50px) * 12 / 12);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__dSvR > :global(.__wab_flex-container) > *,
  .columns__dSvR > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .columns__dSvR > :global(.__wab_flex-container) > picture > img,
  .columns__dSvR
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-top: 32px;
  }
}
.column__crVd {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
}
.productCard__mzfOw:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .productCard__mzfOw:global(.__wab_instance) {
    flex-shrink: 0;
  }
}
.img__gu2MT {
  position: relative;
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.img__gu2MT > picture > img {
  object-fit: cover;
}
.img__gu2MT > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.column__kzPzv {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
}
.productCard__iWi6O:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.img__ogTg2 {
  position: relative;
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.img__ogTg2 > picture > img {
  object-fit: cover;
}
.img__ogTg2 > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.column__bzthn {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
}
.productCard___6BbO:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.img__lxwuf {
  position: relative;
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.img__lxwuf > picture > img {
  object-fit: cover;
}
.img__lxwuf > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.column___146T {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
}
.productCard__p46P9:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.img__vAfHk {
  position: relative;
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.img__vAfHk > picture > img {
  object-fit: cover;
}
.img__vAfHk > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.featureItem:global(.__wab_instance) {
  position: relative;
  margin-top: 16px;
  margin-bottom: 64px;
  display: none;
}
.freeBox__jY76V {
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: 16px;
  margin-bottom: 64px;
  display: none;
}
.text__hmjdF {
  position: relative;
  color: var(--token-mLUrJZRgL4JFPm);
  font-size: 30px;
  font-weight: 500;
}
.columns__q6LOg {
  position: relative;
  flex-direction: row;
  margin-bottom: 64px;
  margin-top: 16px;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  min-width: 0;
  display: none;
  padding: 8px;
}
.columns__q6LOg > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  flex-wrap: nowrap;
  min-width: 0;
  margin-left: calc(0px - 36px);
  width: calc(100% + 36px);
}
.columns__q6LOg > :global(.__wab_flex-container) > :nth-child(4n + 1) {
  width: calc((100% - 4 * 36px) * 3 / 12);
}
.columns__q6LOg > :global(.__wab_flex-container) > :nth-child(4n + 2) {
  width: calc((100% - 4 * 36px) * 3 / 12);
}
.columns__q6LOg > :global(.__wab_flex-container) > :nth-child(4n + 3) {
  width: calc((100% - 4 * 36px) * 3 / 12);
}
.columns__q6LOg > :global(.__wab_flex-container) > :nth-child(4n + 4) {
  width: calc((100% - 4 * 36px) * 3 / 12);
}
.columns__q6LOg > :global(.__wab_flex-container) > *,
.columns__q6LOg > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns__q6LOg > :global(.__wab_flex-container) > picture > img,
.columns__q6LOg
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 36px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__q6LOg {
    flex-direction: row;
    width: 100%;
    height: auto;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__q6LOg > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 10px);
    height: calc(100% + 10px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__q6LOg > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__q6LOg > :global(.__wab_flex-container) > *,
  .columns__q6LOg > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .columns__q6LOg > :global(.__wab_flex-container) > picture > img,
  .columns__q6LOg
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 10px;
  }
}
.column__wWjhR {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
}
.productCard__yaEac:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.text__vn1Og {
  height: auto;
}
.text__treeg {
  height: auto;
}
.img__liGm2 {
  position: relative;
  object-fit: cover;
  width: 100%;
  min-width: 0;
}
.img__liGm2 > picture > img {
  object-fit: cover;
}
.img__liGm2 > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.column__h1PjZ {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
}
.productCard__n9LmB:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.img__yhCxz {
  position: relative;
  object-fit: cover;
  width: 100%;
  min-width: 0;
}
.img__yhCxz > picture > img {
  object-fit: cover;
}
.img__yhCxz > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.column__zsv6B {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
}
.productCard__tPlRg:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.img__hGgrs {
  position: relative;
  object-fit: cover;
  width: 100%;
  min-width: 0;
}
.img__hGgrs > picture > img {
  object-fit: cover;
}
.img__hGgrs > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.column__nYxK3 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
}
.productCard__no11Y:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .productCard__no11Y:global(.__wab_instance) {
    flex-shrink: 0;
  }
}
.img__jcJY {
  position: relative;
  object-fit: cover;
  width: 100%;
  min-width: 0;
}
.img__jcJY > picture > img {
  object-fit: cover;
}
.img__jcJY > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.freeBox__oZbnN {
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  display: none;
}
.text__xpeF1 {
  position: relative;
  color: var(--token-mLUrJZRgL4JFPm);
  font-size: 30px;
  font-weight: 500;
}
.columns__icmVj {
  position: relative;
  flex-direction: row;
  margin-bottom: 64px;
  margin-top: 16px;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  min-width: 0;
  display: none;
  padding: 8px;
}
.columns__icmVj > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
  flex-wrap: nowrap;
  min-width: 0;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
}
.columns__icmVj > :global(.__wab_flex-container) > :nth-child(3n + 1) {
  width: calc((100% - 3 * 32px) * 4 / 12);
}
.columns__icmVj > :global(.__wab_flex-container) > :nth-child(3n + 2) {
  width: calc((100% - 3 * 32px) * 4 / 12);
}
.columns__icmVj > :global(.__wab_flex-container) > :nth-child(3n + 3) {
  width: calc((100% - 3 * 32px) * 4 / 12);
}
.columns__icmVj > :global(.__wab_flex-container) > *,
.columns__icmVj > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns__icmVj > :global(.__wab_flex-container) > picture > img,
.columns__icmVj
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__icmVj {
    flex-direction: row;
    width: 100%;
    height: auto;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__icmVj > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__icmVj > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * 32px) * 12 / 12);
  }
}
.column__gbyLo {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
}
.blogPost__aE14Z:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.img__aW2Hk {
  position: relative;
  object-fit: cover;
  width: 100%;
  min-width: 0;
}
.img__aW2Hk > picture > img {
  object-fit: cover;
}
.img__aW2Hk > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.column___4WWhS {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
}
.blogPost__naXun:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.img__vbE93 {
  position: relative;
  object-fit: cover;
  width: 100%;
  min-width: 0;
}
.img__vbE93 > picture > img {
  object-fit: cover;
}
.img__vbE93 > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.column__b2GB {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
}
.blogPost__nlcwV:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.img__f6H5T {
  position: relative;
  object-fit: cover;
  width: 100%;
  min-width: 0;
}
.img__f6H5T > picture > img {
  object-fit: cover;
}
.img__f6H5T > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.freeBox__fvWz {
  position: relative;
  flex-direction: row;
  width: 100vw;
  height: auto;
  overflow: auto;
  background: var(--token-QLA4byZUbPv4xo);
  display: none;
  padding: 48px;
}
.freeBox__fvWz > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
  flex-wrap: wrap;
  margin-left: calc(0px - 64px);
  width: calc(100% + 64px);
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.freeBox__fvWz > :global(.__wab_flex-container) > *,
.freeBox__fvWz > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__fvWz > :global(.__wab_flex-container) > picture > img,
.freeBox__fvWz
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 64px;
  margin-top: 32px;
}
.img__nj0Z {
  position: relative;
  object-fit: cover;
  width: 90px;
  height: 60px;
  flex-shrink: 0;
}
.img__nj0Z > picture > img {
  object-fit: cover;
}
.img__nj0Z > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.img___0GeLf {
  position: relative;
  object-fit: cover;
  width: 91px;
  height: 60px;
  flex-shrink: 0;
}
.img___0GeLf > picture > img {
  object-fit: cover;
}
.img___0GeLf > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.img__snZ4J {
  position: relative;
  object-fit: cover;
  width: 98px;
  height: 60px;
  flex-shrink: 0;
}
.img__snZ4J > picture > img {
  object-fit: cover;
}
.img__snZ4J > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.img___1Xy89 {
  position: relative;
  object-fit: cover;
  width: 124px;
  height: 60px;
  flex-shrink: 0;
}
.img___1Xy89 > picture > img {
  object-fit: cover;
}
.img___1Xy89 > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.img__nPXhH {
  position: relative;
  object-fit: cover;
  width: 125px;
  height: 60px;
  flex-shrink: 0;
}
.img__nPXhH > picture > img {
  object-fit: cover;
}
.img__nPXhH > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.footer___1FWuc:global(.__wab_instance) {
  position: relative;
  display: none;
}
.bigPlants {
  max-width: 1300px;
  width: 100%;
  height: auto;
  flex-direction: column;
  padding-bottom: 80px;
  min-width: 0;
  display: none;
  margin: 0px;
}
.bigPlants > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.bigPlants > :global(.__wab_flex-container) > *,
.bigPlants > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.bigPlants > :global(.__wab_flex-container) > picture > img,
.bigPlants
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.freeBox___2WYvM {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox___2WYvM > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox___2WYvM > :global(.__wab_flex-container) > *,
.freeBox___2WYvM > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___2WYvM > :global(.__wab_flex-container) > picture > img,
.freeBox___2WYvM
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
.h2__bzeH {
  position: relative;
  width: auto;
  height: auto;
  color: var(--token-RwG4modd2sJAe-);
}
.columns___7IGis {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  flex-direction: row;
  min-width: 0;
  padding: 8px;
}
.columns___7IGis > :global(.__wab_flex-container) {
  align-items: stretch;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  margin-left: calc(0px - 15px);
  width: calc(100% + 15px);
}
.columns___7IGis > :global(.__wab_flex-container) > :nth-child(3n + 1) {
  width: calc((100% - 3 * 15px) * 4 / 12);
}
.columns___7IGis > :global(.__wab_flex-container) > :nth-child(3n + 2) {
  width: calc((100% - 3 * 15px) * 4 / 12);
}
.columns___7IGis > :global(.__wab_flex-container) > :nth-child(3n + 3) {
  width: calc((100% - 3 * 15px) * 4 / 12);
}
.columns___7IGis > :global(.__wab_flex-container) > *,
.columns___7IGis > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns___7IGis > :global(.__wab_flex-container) > picture > img,
.columns___7IGis
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 15px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns___7IGis {
    width: 100%;
    height: auto;
    flex-direction: row;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns___7IGis > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns___7IGis > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * 15px) * 12 / 12);
  }
}
.column__cemlA {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.column__cemlA > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.column__cemlA > :global(.__wab_flex-container) > *,
.column__cemlA > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.column__cemlA > :global(.__wab_flex-container) > picture > img,
.column__cemlA
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.img___8Pf4M {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  box-shadow: 0px 5px 16px 0px #00000054;
  width: 100%;
  height: var(--token-FrVxrO3xIVC8IA);
  min-width: 0;
  flex-shrink: 0;
  border-radius: 24px;
}
.img___8Pf4M > picture > img {
  object-fit: cover;
}
.img___8Pf4M > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.freeBox__ys16P {
  display: flex;
  position: absolute;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 55px;
  height: 55px;
  max-width: 100%;
  left: auto;
  top: 51%;
  right: 5%;
  background: var(--token-Re3SCJIk_yyCbi);
  flex-shrink: 0;
  border-radius: 8px;
  padding: 8px;
}
.svg__revAq {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-OdlLUu4yengzPE);
  width: 30px;
  height: 30px;
  flex-shrink: 0;
}
.freeBox__d6Ev1 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.link__yZiY0 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-fj_HsBo0aIlxdY);
  font-size: 24px;
  min-width: 0;
}
.text__slSeA {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  color: var(--token-fj_HsBo0aIlxdY);
  min-width: 0;
}
.h5__kNp4 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-fj_HsBo0aIlxdY);
  line-height: 34px;
  min-width: 0;
}
.column___3O04A {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.column___3O04A > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.column___3O04A > :global(.__wab_flex-container) > *,
.column___3O04A > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.column___3O04A > :global(.__wab_flex-container) > picture > img,
.column___3O04A
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.img___5Xhd2 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  box-shadow: 0px 5px 16px 0px #00000054;
  width: 100%;
  height: var(--token-FrVxrO3xIVC8IA);
  min-width: 0;
  flex-shrink: 0;
  border-radius: 24px;
}
.img___5Xhd2 > picture > img {
  object-fit: cover;
}
.img___5Xhd2 > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.freeBox___64Fjs {
  display: flex;
  position: absolute;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 55px;
  height: 55px;
  max-width: 100%;
  left: auto;
  top: 51%;
  right: 5%;
  background: var(--token-Re3SCJIk_yyCbi);
  flex-shrink: 0;
  border-radius: 8px;
  padding: 8px;
}
.svg__dizBg {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-OdlLUu4yengzPE);
  width: 30px;
  height: 30px;
  flex-shrink: 0;
}
.freeBox__phhK4 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.link___2UYv {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-fj_HsBo0aIlxdY);
  font-size: 24px;
  min-width: 0;
}
.text___7Q8E8 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  color: var(--token-fj_HsBo0aIlxdY);
  min-width: 0;
}
.h5__nmQkQ {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-fj_HsBo0aIlxdY);
  line-height: 34px;
  min-width: 0;
}
.column__vZixC {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.column__vZixC > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.column__vZixC > :global(.__wab_flex-container) > *,
.column__vZixC > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.column__vZixC > :global(.__wab_flex-container) > picture > img,
.column__vZixC
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.img__k5BZq {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  box-shadow: 0px 5px 16px 0px #00000054;
  width: 100%;
  height: var(--token-FrVxrO3xIVC8IA);
  min-width: 0;
  flex-shrink: 0;
  border-radius: 24px;
}
.img__k5BZq > picture > img {
  object-fit: cover;
}
.img__k5BZq > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.freeBox__i7Izc {
  display: flex;
  position: absolute;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 55px;
  height: 55px;
  max-width: 100%;
  left: auto;
  top: 51%;
  right: 5%;
  background: var(--token-Re3SCJIk_yyCbi);
  flex-shrink: 0;
  border-radius: 8px;
  padding: 8px;
}
.svg__bkdAy {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-OdlLUu4yengzPE);
  width: 30px;
  height: 30px;
  flex-shrink: 0;
}
.freeBox__o9G4N {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.link__yRs6Y {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-fj_HsBo0aIlxdY);
  font-size: 24px;
  min-width: 0;
}
.text__fv2Je {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  color: var(--token-fj_HsBo0aIlxdY);
  min-width: 0;
}
.h5__pfq12 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-fj_HsBo0aIlxdY);
  line-height: 34px;
  min-width: 0;
}
.img__v5Svy {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  box-shadow: 0px 5px 16px 0px #00000054;
  width: 100%;
  height: var(--token-FrVxrO3xIVC8IA);
  min-width: 0;
  flex-shrink: 0;
  border-radius: 24px;
}
.img__v5Svy > picture > img {
  object-fit: cover;
}
.img__v5Svy > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.freeBox__z37Zf {
  display: flex;
  position: absolute;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 55px;
  height: 55px;
  max-width: 100%;
  left: auto;
  top: 51%;
  right: 5%;
  background: var(--token-Re3SCJIk_yyCbi);
  flex-shrink: 0;
  border-radius: 8px;
  padding: 8px;
}
.svg__v18O {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-OdlLUu4yengzPE);
  width: 30px;
  height: 30px;
  flex-shrink: 0;
}
.freeBox__v7Ppa {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.link___207AR {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-fj_HsBo0aIlxdY);
  font-size: 24px;
  min-width: 0;
}
.text__peTmG {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  color: var(--token-fj_HsBo0aIlxdY);
  min-width: 0;
}
.h5__iHtHt {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-fj_HsBo0aIlxdY);
  line-height: 34px;
  min-width: 0;
}
.cactuses {
  max-width: 1300px;
  width: 100%;
  height: auto;
  flex-direction: column;
  padding-bottom: 80px;
  min-width: 0;
  display: none;
  margin: 0px;
}
.cactuses > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.cactuses > :global(.__wab_flex-container) > *,
.cactuses > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.cactuses > :global(.__wab_flex-container) > picture > img,
.cactuses
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.freeBox__pRBut {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__pRBut > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__pRBut > :global(.__wab_flex-container) > *,
.freeBox__pRBut > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__pRBut > :global(.__wab_flex-container) > picture > img,
.freeBox__pRBut
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
.h2___82LGg {
  position: relative;
  width: auto;
  height: auto;
  color: var(--token-RwG4modd2sJAe-);
}
.columns__zILki {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  flex-direction: row;
  min-width: 0;
  padding: 8px;
}
.columns__zILki > :global(.__wab_flex-container) {
  align-items: stretch;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  margin-left: calc(0px - 15px);
  width: calc(100% + 15px);
}
.columns__zILki > :global(.__wab_flex-container) > :nth-child(4n + 1) {
  width: calc((100% - 4 * 15px) * 3 / 12);
}
.columns__zILki > :global(.__wab_flex-container) > :nth-child(4n + 2) {
  width: calc((100% - 4 * 15px) * 3 / 12);
}
.columns__zILki > :global(.__wab_flex-container) > :nth-child(4n + 3) {
  width: calc((100% - 4 * 15px) * 3 / 12);
}
.columns__zILki > :global(.__wab_flex-container) > :nth-child(4n + 4) {
  width: calc((100% - 4 * 15px) * 3 / 12);
}
.columns__zILki > :global(.__wab_flex-container) > *,
.columns__zILki > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns__zILki > :global(.__wab_flex-container) > picture > img,
.columns__zILki
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 15px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__zILki {
    width: 100%;
    height: auto;
    flex-direction: row;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__zILki > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__zILki > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * 15px) * 12 / 12);
  }
}
.column__i8Uw {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.column__i8Uw > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.column__i8Uw > :global(.__wab_flex-container) > *,
.column__i8Uw > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.column__i8Uw > :global(.__wab_flex-container) > picture > img,
.column__i8Uw
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.img__rOfpa {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  box-shadow: 0px 5px 16px 0px #00000054;
  width: 100%;
  height: var(--token-FrVxrO3xIVC8IA);
  min-width: 0;
  flex-shrink: 0;
  border-radius: 24px;
}
.img__rOfpa > picture > img {
  object-fit: cover;
}
.img__rOfpa > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.freeBox__yt3RC {
  display: flex;
  position: absolute;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 55px;
  height: 55px;
  max-width: 100%;
  left: auto;
  top: 51%;
  right: 5%;
  background: var(--token-Re3SCJIk_yyCbi);
  flex-shrink: 0;
  border-radius: 8px;
  padding: 8px;
}
.svg__ueAAy {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-OdlLUu4yengzPE);
  width: 30px;
  height: 30px;
  flex-shrink: 0;
}
.freeBox__uSbTd {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.link___4Tz0K {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-fj_HsBo0aIlxdY);
  font-size: 24px;
  min-width: 0;
}
.text__mwkDe {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  color: var(--token-fj_HsBo0aIlxdY);
  min-width: 0;
}
.h5__zfaTw {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-fj_HsBo0aIlxdY);
  line-height: 34px;
  min-width: 0;
}
.column___4H5Cu {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.column___4H5Cu > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.column___4H5Cu > :global(.__wab_flex-container) > *,
.column___4H5Cu > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.column___4H5Cu > :global(.__wab_flex-container) > picture > img,
.column___4H5Cu
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.img___1XcBe {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  box-shadow: 0px 5px 16px 0px #00000054;
  width: 100%;
  height: var(--token-FrVxrO3xIVC8IA);
  min-width: 0;
  flex-shrink: 0;
  border-radius: 24px;
}
.img___1XcBe > picture > img {
  object-fit: cover;
}
.img___1XcBe > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.freeBox__gcaXh {
  display: flex;
  position: absolute;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 55px;
  height: 55px;
  max-width: 100%;
  left: auto;
  top: 51%;
  right: 5%;
  background: var(--token-Re3SCJIk_yyCbi);
  flex-shrink: 0;
  border-radius: 8px;
  padding: 8px;
}
.svg__vfk3E {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-OdlLUu4yengzPE);
  width: 30px;
  height: 30px;
  flex-shrink: 0;
}
.freeBox___76Ii {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.link__jPaBn {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-fj_HsBo0aIlxdY);
  font-size: 24px;
  min-width: 0;
}
.text___2RHxg {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  color: var(--token-fj_HsBo0aIlxdY);
  min-width: 0;
}
.h5__xgdUy {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-fj_HsBo0aIlxdY);
  line-height: 34px;
  min-width: 0;
}
.column__nppzX {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.column__nppzX > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.column__nppzX > :global(.__wab_flex-container) > *,
.column__nppzX > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.column__nppzX > :global(.__wab_flex-container) > picture > img,
.column__nppzX
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.img__ggnoc {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  box-shadow: 0px 5px 16px 0px #00000054;
  width: 100%;
  height: var(--token-FrVxrO3xIVC8IA);
  min-width: 0;
  flex-shrink: 0;
  border-radius: 24px;
}
.img__ggnoc > picture > img {
  object-fit: cover;
}
.img__ggnoc > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.freeBox__k4Lr1 {
  display: flex;
  position: absolute;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 55px;
  height: 55px;
  max-width: 100%;
  left: auto;
  top: 51%;
  right: 5%;
  background: var(--token-Re3SCJIk_yyCbi);
  flex-shrink: 0;
  border-radius: 8px;
  padding: 8px;
}
.svg__tNSlb {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-OdlLUu4yengzPE);
  width: 30px;
  height: 30px;
  flex-shrink: 0;
}
.freeBox___6QnL {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.link__kh00M {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-fj_HsBo0aIlxdY);
  font-size: 24px;
  padding-bottom: 0px;
  min-width: 0;
}
.text__iZEt {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  color: var(--token-fj_HsBo0aIlxdY);
  min-width: 0;
}
.h5__nu47N {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-fj_HsBo0aIlxdY);
  line-height: 34px;
  min-width: 0;
}
.column__l60Lk {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.column__l60Lk > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.column__l60Lk > :global(.__wab_flex-container) > *,
.column__l60Lk > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.column__l60Lk > :global(.__wab_flex-container) > picture > img,
.column__l60Lk
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.img__u3Jg3 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  box-shadow: 0px 5px 16px 0px #00000054;
  width: 100%;
  height: var(--token-FrVxrO3xIVC8IA);
  min-width: 0;
  flex-shrink: 0;
  border-radius: 24px;
}
.img__u3Jg3 > picture > img {
  object-fit: cover;
}
.img__u3Jg3 > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.freeBox__uquv0 {
  display: flex;
  position: absolute;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 55px;
  height: 55px;
  max-width: 100%;
  left: auto;
  top: 51%;
  right: 5%;
  background: var(--token-Re3SCJIk_yyCbi);
  flex-shrink: 0;
  border-radius: 8px;
  padding: 8px;
}
.svg__x7Zo0 {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-OdlLUu4yengzPE);
  width: 30px;
  height: 30px;
  flex-shrink: 0;
}
.freeBox___7MSSs {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.link__zuQsf {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-fj_HsBo0aIlxdY);
  font-size: 24px;
  min-width: 0;
}
.text___7GaHn {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  color: var(--token-fj_HsBo0aIlxdY);
  min-width: 0;
}
.h5__qLa7M {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-fj_HsBo0aIlxdY);
  line-height: 34px;
  min-width: 0;
}
.footer__ihlu:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
