.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  justify-content: flex-start;
  align-items: center;
  background: url("./images/plant1Featuredjpg.png") top 50% left 50% / cover repeat;
  padding-top: 148px;
  min-width: 0;
  min-height: 0;
}
.group33459 {
  width: 532px;
  height: 498px;
  display: block;
  flex-shrink: 0;
}
.card {
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  top: 0%;
  left: 0%;
}
.rectangle8 {
  backdrop-filter: blur(16px);
  background: #ffffff;
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  top: 0%;
  left: 0%;
  overflow: auto;
  margin-top: 0px;
  -webkit-backdrop-filter: blur(16px);
  border-radius: 24px;
}
.h1 {
  display: block;
  font-size: 40px;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  letter-spacing: 0px;
  line-height: 32px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 67px;
  left: 11px;
  width: 544px;
}
.textbox2 {
  width: 415px;
  position: absolute;
  padding-top: 11px;
  padding-bottom: 11px;
  padding-left: 15px;
  height: 31px;
  left: 71px;
  top: 246px;
  border-radius: 15px;
  border: 1px solid #e5e5ea;
}
.link__cJuPo {
  position: absolute;
  left: 25px;
  top: 313px;
}
.link__sxpu7 {
  display: flex;
  position: absolute;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 76px;
  height: auto;
  max-width: 100%;
  left: 9px;
  top: 3px;
  padding: 8px;
}
.indietro {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  color: #98a9bc;
  width: 32px;
  height: 32px;
  display: block;
  top: 24px;
  left: 16px;
  overflow: hidden;
  flex-shrink: 0;
}
.text {
  display: block;
  font-size: 20px;
  text-align: center;
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  letter-spacing: 0px;
  line-height: 20px;
  color: rgba(51, 51, 51, 1);
  position: absolute;
  top: 30.52%;
  left: 15.6%;
  width: 69.17%;
  height: auto;
}
.signIn {
  background: var(--token-6nuMN7bCKet);
  width: 310px;
  height: 50px;
  display: block;
  position: absolute;
  top: 372px;
  left: 111px;
  border-radius: 4px;
}
.label {
  display: block;
  font-size: 14px;
  text-align: center;
  font-family: "Rubik", sans-serif;
  font-weight: 500;
  letter-spacing: 0px;
  line-height: 18px;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 16px;
  left: 120px;
  transform: translate(-0.5px, 0px);
}
